@model Final.Models.Productos

@{
    ViewBag.Title = "Detalles de Productos";
    Layout = "~/Views/Shared/_LayoutCompras.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Productos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            Precio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            Ultima actualización
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ult_actualizacion)
        </dd>

        <dt>
            Imagen
        </dt>

        <dd>
            <img src=@Html.DisplayFor(model => model.imagen)
                 width="100"
                 height="100">
        </dd>

        <dt>
            Existencia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.existencia)
        </dd>

        <dt>
            Stock
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stock)
        </dd>

        <dt>
            Estado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            Categoría
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorias.nombre)
        </dd>

    </dl>
</div>
<p>
    <a href='@Url.Action("Edit", "Productos", new { id = Model.idProducto })' class="btn btn-primary">Editar</a>
    @Html.ActionLink("Volver", "Index")
</p>
