@model ChatFertilizantes.Models.Clientes

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Clientes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.calle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.colonia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.colonia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.num_tarjeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.num_tarjeta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCliente }) |
    @Html.ActionLink("Back to List", "Index")
</p>
