@model IEnumerable<ChatFertilizantes.Models.Comentarios>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSoporte.cshtml";
}


<div class="container">
    <h2 class="mb-3">Lista de comentarios</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Idcomentario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idproducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.comentario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.respuesta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>Acciones</th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Idcomentario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idproducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comentario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.respuesta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Idcomentario }) <br />
                @Html.ActionLink("Responder", "Respuesta", new { id = item.Idcomentario }) <br />
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Idcomentario })
            </td>
        </tr>
        }

    </table>
</div>

