@model FertilizantesV1.Models.paqueteria

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutEnviador.cshtml";
}
<div class="container" style="padding-top: 30px; margin-bottom: 50px">

    <h2 class="mb-3" style="color: #FF6363;">Eliminar la paquetería</h2>

    <h4>¿Estás seguro de que deseas eliminar la paquetería?</h4>
    <div>
        <hr />
        <dl class="dl-horizontal mt-4">
            <dt class="mb-1">
                @Html.DisplayNameFor(model => model.nombre).ToString().ToUpper() DE LA PAQUETERÍA
            </dt>

            <dd class="mb-4">
                @Html.DisplayFor(model => model.nombre)
            </dd>

            <dt class="mb-1">
                @Html.DisplayNameFor(model => model.rfc).ToString().ToUpper() DE LA PAQUETERÍA
            </dt>

            <dd class="mb-4">
                @Html.DisplayFor(model => model.rfc)
            </dd>

            <dt class="mb-1">
                @Html.DisplayNameFor(model => model.tel).ToString().ToUpper() DE LA PAQUETERÍA
            </dt>

            <dd class="mb-4">
                @Html.DisplayFor(model => model.tel)
            </dd>

            <dt class="mb-1">
                @Html.DisplayNameFor(model => model.web).ToString().ToUpper() DE LA PAQUETERÍA
            </dt>

            <dd class="mb-4">
                @Html.DisplayFor(model => model.web)
            </dd>

            <dt class="mb-1">
                @Html.DisplayNameFor(model => model.direccion).ToString().ToUpper() DE LA PAQUETERÍA
            </dt>

            <dd class="mb-4">
                @Html.DisplayFor(model => model.direccion)
            </dd>

            <dt class="mb-1">
                @Html.DisplayNameFor(model => model.contacto).ToString().ToUpper() DEL ENCARGADO DE DE LA PAQUETERÍA
            </dt>

            <dd class="mb-4">
                @Html.DisplayFor(model => model.contacto)
            </dd>

            <dt class="mb-1">
                @Html.DisplayNameFor(model => model.tel_contacto).ToString().ToUpper() DEL ENCARGADO DE DE LA PAQUETERÍA
            </dt>

            <dd class="mb-4">
                @Html.DisplayFor(model => model.tel_contacto)
            </dd>

        </dl>

        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-danger d-block w-100" />
                <div>
                    @Html.ActionLink("Regresar", "Index", new {  }, new { @class = "text-white mt-2 btn btn-dark d-block w-100" })
                </div>
            </div>
        }
    </div>
</div>
