@model FertilizantesV1.Models.paqueteria

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutEnviador.cshtml";
}
<div class="container" style="padding-top: 30px; margin-bottom: 50px">

    <h2 class="" style="color: #5cb874;">Detalles de la paquetería</h2>

    <div>
        <hr />
        <dl class="dl-horizontal mt-4">
            <dt class="mb-1">
                @Html.DisplayNameFor(model => model.nombre).ToString().ToUpper() DE LA PAQUETERÍA
            </dt>

            <dd class="mb-4">
                @Html.DisplayFor(model => model.nombre)
            </dd>

            <dt class="mb-1">
                @Html.DisplayNameFor(model => model.rfc).ToString().ToUpper() DE LA PAQUETERÍA
            </dt>

            <dd class="mb-4">
                @Html.DisplayFor(model => model.rfc)
            </dd>

            <dt class="mb-1">
                @Html.DisplayNameFor(model => model.tel).ToString().ToUpper() DE LA PAQUETERÍA
            </dt>

            <dd class="mb-4">
                @Html.DisplayFor(model => model.tel)
            </dd>

            <dt class="mb-1">
                @Html.DisplayNameFor(model => model.web).ToString().ToUpper() DE LA PAQUETERÍA
            </dt>

            <dd class="mb-4">
                @Html.DisplayFor(model => model.web)
            </dd>

            <dt class="mb-1">
                @Html.DisplayNameFor(model => model.direccion).ToString().ToUpper() DE LA PAQUETERÍA
            </dt>

            <dd class="mb-4">
                @Html.DisplayFor(model => model.direccion)
            </dd>

            <dt class="mb-1">
                @Html.DisplayNameFor(model => model.contacto).ToString().ToUpper() DEL ENCARGADO DE LA PAQUETERÍA
            </dt>

            <dd class="mb-4">
                @Html.DisplayFor(model => model.contacto)
            </dd>

            <dt class="mb-1">
                @Html.DisplayNameFor(model => model.tel_contacto).ToString().ToUpper() DEL ENCARGADO DE LA PAQUETERÍA
            </dt>

            <dd class="mb-4">
                @Html.DisplayFor(model => model.tel_contacto)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar Paquetería", "Edit", new { id = Model.id_paqueteria }, new { @class = "btn text-white mt-3 mb-2 d-block w-100",@style = "background-color: #F3950D" })
        @Html.ActionLink("Regresar", "Index",new { area = "" },new { @class = "btn btn-dark d-block w-100" })
    </p>
</div>
