@model IEnumerable<FertilizantesV1.Models.paqueteria>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutEnviador.cshtml";
}
<div class="container" style="padding-top: 30px; margin-bottom: 50px">

    <h2 class="mb-5" style="color: #5cb874;">Paqueterías Registradas</h2>

    <table class="table">
        <tr class="">
            <th>
                @Html.DisplayNameFor(model => model.nombre).ToString().ToUpper()
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rfc).ToString().ToUpper()
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tel).ToString().ToUpper()
            </th>
            <th>
                @Html.DisplayNameFor(model => model.web).ToString().ToUpper()
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion).ToString().ToUpper()
            </th>
            <th>
                NOMBRE DEL @Html.DisplayNameFor(model => model.contacto).ToString().ToUpper()
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tel_contacto).ToString().ToUpper()
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="vertical-align: middle">
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td style="vertical-align: middle">
                    @Html.DisplayFor(modelItem => item.rfc)
                </td>
                <td style="vertical-align: middle">
                    @Html.DisplayFor(modelItem => item.tel)
                </td>
                <td style="vertical-align: middle" class="text-break">
                    @Html.DisplayFor(modelItem => item.web)
                </td>
                <td style="vertical-align: middle">
                    @Html.DisplayFor(modelItem => item.direccion)
                </td>
                <td style="vertical-align: middle">
                    @Html.DisplayFor(modelItem => item.contacto)
                </td>
                <td style="vertical-align: middle">
                    @Html.DisplayFor(modelItem => item.tel_contacto)
                </td>
                <td style="vertical-align: middle">
                    @Html.ActionLink("Editar", "Edit", new { id = item.id_paqueteria }, new { @class = "btn mb-1 d-block w-100 text-white", @style = "background-color: #F3950D" })
                    @Html.ActionLink("Detalles", "Details", new { id = item.id_paqueteria }, new { @class = "btn btn-info mb-1 d-block w-100 text-white" })
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.id_paqueteria }, new { @class = "btn btn-danger mb-1 d-block w-100" })
                </td>
            </tr>
        }

    </table>
    <p class="mt-4">
        @Html.ActionLink("Crear nueva paquetería", "Create", new { area = "" }, new { @class = "btn btn-success b-block w-100" })
    </p>
</div>

